body{

}

h1{
  text-align: center;

}

#para{

  background-color: lightgrey;

}

h3{
  position:absolute;
  margin:10px;
  padding:10px;
  border:10px;
  border-color:black;
  background-color: blue;
  text-align: center;
  color:white;
  width:80px;


}


/**************Desktop View***********/
@media (min-width:992px){
  .col-lg {
    float:left;
    width:32%;
    margin:5px;
    background-color: lightgrey;
    border:1px yellow;
    position:relative;
    top:20px;


  }
}

  /***********Tablet View***********/
  @media(min-width:768px) and (max-width:991px){
    .col-md-1,.col-md-2{
      float:left;

      background-color: lightgrey;
      border: 20px ;
      margin:5px;
      border-color: green;
      position: relative;
    }

    .col-md-1{
      width:48%;
    }
    .col-md-2{
      width:97%;
    }
